@model ProjetSessionAppWeb3.Models.User

@{
    ViewData["Title"] = "Chat";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="p-5 ">
    @if (ViewBag.userSession != null)
    {
        <p>@ViewBag.userSession.IdUser</p>
        <p>@ViewBag.userSession.Username</p>
    }
    <div class="container"
        <div class="row justify-content-center">
            @foreach (var Chat in ViewBag.Chats)
            {
                <div class="col-12 border border-primary rounded">
                    <p>@Chat.id</p>
                    <p>@Chat.name</p>
                </div>
            }
        </div>
    </div>
</section>
