@Model Chat
@using Microsoft.AspNetCore.Http
@model User
@{
    ViewData["Title"] = "Chats";
}

<section class="p-5 ">
    <div class="container">
        <div class="row justify-content-center">
            @foreach (var Chat in ViewBag.Chats)
            {
                <div class="col-12 border border-primary rounded">
                    <p>@Chat.id</p>
                    <p>@Chat.name</p>
                </div>
            }
        </div>
    </div>
</section>
<p>@HttpContext.Session.GetInt32("userSession").ToString()</p>
